* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.navbar {
  height: 100px;
  background: rgba(0, 0, 0, 0.2);
}

#person-icon {
  font-size: 40px;
  color: greenyellow;
}
#settings-icon {
  font-size: 40px;
  color: #ffcc00;
}
#icons {
  color: white;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.carousel {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: absolute !important;
  top: 0;
}

.slide {
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
  background-size: cover;
  background-position: center;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.slide2 {
  /* background-image: url('https://www.tatasteel.com/media/21747/world-steel-banner-1400x790.jpg'); */
}

.slide3 {
  background-image: url("https://www.tatasteel.com/media/19998/1400x790.jpg");
}

.symbols {
  display: flex;
  flex-wrap: wrap;
  gap: 160px;
  justify-content: center;
  padding-top: 150px;
  color: white;
  text-align: center;
  animation: slideUp 3s ease-out forwards;
}

.slide4 {
  background-image: url("https://www.tatasteel.com/images/investor_bg.jpg");
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 150px;
  justify-content: center;
}

.performance,
.exchange,
.stock-quotes {
  color: white;
  border: 1px solid white;
  height: 350px;
  width: 300px;
  animation: slideUp 3s ease-out forwards;
}

.text-title {
  color: white;
  text-align: center;
  padding-top: 150px;
  animation: slideUp 3s ease-out forwards;
}

.slide6 {
  background-image: url("https://www.tatasteel.com/media/18485/great-place-to-work-certified2-1.png");
}

.container-5 {
  height: 10vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -290px;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* overflow: hidden; */
}

.nav-dots {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.dot.active {
  background-color: #000;
}

.caurosel {
  display: flex;
  gap: 30px;
  margin-left: 160px;
  position: absolute;
  top: 0;
}

.tata-image-2 {
  height: 220px;
  width: 275px;
  animation: rotateImage 3s infinite linear; /* animation added */
  transform-style: preserve-3d;
}

.paragraph {
  background-color: white;
  border: 1px solid black;
  height: 220px;
  width: 330px;
  padding-top: 50px;
  font-size: 17px;
}

.caurosel-2 {
  display: flex;
  gap: 30px;
  margin-left: 160px;
}

.container-carousel {
  display: flex;
  justify-content: center;
}

.container-4 {
  width: 80vw;
  overflow: scroll;
}

/* media screen  */

@media screen and (max-width: 576px) {
  .slide2 {
    height: 100vh;
  }

  .slide3 {
    height: 100vh;
  }

  .symbols {
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    animation: slideUp 3s ease-out forwards;
    color: white;
    text-align: center;
  }

  .slide4 {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    padding-top: 0px;
    justify-content: center;
  }

  .performance,
  .exchange,
  .stock-quotes {
    color: white;
    border: 1px solid white;
    height: 210px;
    width: 300px;
    animation: slideUp 3s ease-out forwards;
    padding: 0px 16px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .container-4 {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    margin-top: 150px;
  }

  .tata-image-2 {
    height: 100%;
    width: 400px;
  }

  .caurosel {
    height: 30%;
  }

  .caurosel-2 {
    height: 30%;
    margin-top: 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container-5 {
    display: flex;
    justify-content: center;
  }

  .container-4 {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    margin-top: 150px;
  }

  .tata-image-2 {
    height: 100%;
    width: 400px;
  }

  .caurosel {
    height: 30%;
  }

  .caurosel-2 {
    height: 30%;
    margin-top: 30px;
  }
}
